* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  /* font-family: courier, arial, helvetica, serif; */
}
body {
  font-family: "Montserrat";
}
html {
  font-size: 10px;
}
button {
  font-family: "Montserrat";
}

section {
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;

  /* background-color: #FAD961; */
  /* background-image: linear-gradient(90deg, #FAD961 0%, #FF5ACD 50%, #F76B1C 100%); */

  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
      
  position: relative;
  animation: change 15s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}
